header { background-color:#ff6600; display:block; }

header a { text-decoration:none; color:black; }

body { margin-left:auto; margin-right:auto; width:85%; }

table { background-color:#F6F6EF; width:100%; }
